.detail-panel {
    position: absolute;
    z-index: 2;
    min-width: 80px;
    right: 20px;
    top: 28px;
    border-radius: 4px;
    .cluster-groups {
        width: 100%;
        button {
            display: block;
            min-width: 104px;
            padding: 0px;
            background: rgba(82, 184, 197, 0.45);
            height: 30px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            color: rgba(37, 77, 223, 0.7);
            outline-color: rgb(188, 143, 143);
        }
        .show-down {
            background-color: rgba(138, 151, 123, 0.6);
            span {
                display: block;
                height: 30px;
                padding: 0;
                min-width: 104px;
                cursor: pointer;
                text-align: center;
                line-height: 30px;
                color: rgb(34, 39, 36);
            }
            span:hover {
                color: rgb(197, 20, 58);
            }
            transition: all 1s linear;
        }
        .close-down {
            display: none;
        }
    }
    .dialog-trend-show {
        margin-top: 100px;
        width: 100%;
        span {
            text-align: center;
            display: block;
        }
        button {
            display: block;
            min-width: 104px;
            padding: 0px;
            background: rgba(82, 184, 197, 0.45);
            height: 30px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            color: #222724;
            outline-color: rgb(188, 143, 143);
        }
    }
    .dialog-close {
        display: none;
    }
}
