.basis-bar {
    position: absolute;
    left: 3px;
    bottom: 10px;
    z-index: 2;
    .show-bar {
        min-width: 50px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
    }
    .no-show-bar {
        visibility: hidden;
        pointer-events: none;
    }
}
